body {
  text-align: center;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.stepsCounter {
  display: flex;
  flex-direction: row;
  display: block;
}

.countCounter {
  display: flex;
  flex-direction: row;
  display: block;
}
